header {
    background-image: url(../assets/images/360_F_170932733_VOHGeaH5AjrVCXBVryEwVgwhArv2wNNH.jpg);
    padding: 8px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    align-items: center;


    img {
        max-width: 100px;
        height: auto;
        border: 2px solid white;
        border-radius: 50%;


    }

}

.containerInputYTexto {

    align-items: center;


    input {

        border-radius: 6px;
        text-align: center;
        border: 2px solid gray;

    }

    h1 {
        font-size: 3rem;
        color: white;
        margin-left: 1.2rem;
        margin-bottom: 1rem;



    }
}

.containerNav {
    display: flex;
    list-style: none;



    li {
        margin: 0.8rem;
        text-decoration: none;
        color: white;
        font-size: 1rem;
        text-align: center;

        spam {
            display: none;
        }


        i {
            font-size: 1.2rem;

        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

main {
    position: relative;
    background-image: url(../assets/images/depositphotos_205251712-stock-illustration-closeup-purple-textured-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#items figure {
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    border-radius: 2rem;

}

#items img {

    height: 20rem;
    display: block;
    object-fit: cover;
    width: 100%;
}

.texto {
    margin-top: 1rem;
    background-image: url(../assets/images/depositphotos_205251712-stock-illustration-closeup-purple-textured-background.jpg);
    /*  border: 3px solid black; */
    border-radius: 20px;
    padding: 1rem;
    color: white;

}

#items {
    max-width: 1250px;
    margin: 0 auto;
    padding: 2rem;

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;


        article {
            text-align: center;
            border: 2px solid black;
            padding: 2rem;
            background-color: beige;
            border-radius: 2rem;

            h3 {

                font-size: 2.4rem;

            }

        }
    }
}

.texto li {
    margin-top: 0.5rem;
    font-size: 1.2rem;

}

ul:last-child {
    margin-bottom: 0.5rem;
}

.pkm {
    background-image: url(../assets/images/dcaa0722-3140-4330-b16e-c91ac036df3d.jpg);
    background-size: cover;
    background-position: center;
}

.db {
    background-image: url(../assets/images/HD-wallpaper-gogeta-dragon-ball-thumbnail.jpg);
    background-size: cover;
    background-position: center;
}

.marvel {
    background-image: url(../assets/images/891be2c0c1824c5a74cd665835b38471.jpg);
    background-size: cover;
    background-position: center;
}

.botonAgregar {
    margin-top: 1.2rem;
    background-color: gray;
    font-size: 1.4rem;
    color: white;
    padding: 0.6rem;
    border: 3px solid black;
    border-radius: 25px;


}

.botonAgregar:hover {
    background-color: white;
    color: gray;
    transition: 1s ease;

}

.carrito {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
    border: 3px solid black;
    border-radius: 20px;

    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .botones {
        display: flex;
        justify-content: space-evenly;

    }
}

.mostrarCarrito {
    display: block;
}

.cerrarCarrito {
    display: none;
}

.botonCompra {
    background-color: gray;
    font-size: 1.4rem;
    color: white;
    padding: 0.6rem;
    border: 3px solid black;
    border-radius: 25px;


}

.botonCerrar {
    background-color: gray;
    font-size: 1.4rem;
    color: white;
    padding: 0.6rem;
    border: 3px solid black;
    border-radius: 25px;


}

.imagenCarrito {
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    border-radius: 50%;
    width: 40px;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

}

.articleCarrito {
    display: flex;
}

.nombreArticulo {
    align-content: center;
    margin-left: 0.4rem;

}

.contenedorBtn {
    align-content: center;
    margin-left: 0.4rem;
}

.btnMenos {
    margin-left: 0.2rem;
    border-radius: 50%;
    text-align: center;

}

.btnMas {
    border-radius: 50%;
    text-align: center;
}





@media(min-width: 768px) {
    #items .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1004px) {
    #items .grid {
        grid-template-columns: repeat(3, 1fr);
    }


    header {
        .containerInputYTexto {
            display: flex;
            gap: 10rem;
            justify-content: flex-start;

            h1 {}
        }

        .containerNav li {

            display: inline;

            spam {
                display: contents;
            }

        }
    }
}